@import url(https://fonts.googleapis.com/css?family=Lato:regular,700,900,&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #424551;
  line-height: 1;
  font-family: "Lato";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Lato";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.75rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  background: -o-linear-gradient(34.05deg, hwb(2 23% 0%/0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  background: linear-gradient(55.95deg, hwb(2 23% 0%/0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 15px;
}

.header__logo {
  margin-right: 50px;
}

.header__logo img {
  padding: 15px 0px;
  max-width: 100%;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 40px;
  padding: 0px 10px;
}

.header__item a {
  font-weight: 700;
  line-height: 160%;
  color: #424551;
}

.header__item a:hover {
  text-decoration: underline;
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header__button {
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 0px 40px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
}

.header__button:hover {
  background: -o-linear-gradient(34.05deg, #e73c36 0%, #e25605 100%);
  background: linear-gradient(55.95deg, #e73c36 0%, #e25605 100%);
}

.header__btn {
  font-weight: 700;
  line-height: 160%;
  color: #424551;
  background: url("../img/icon/Person.svg") left no-repeat;
  padding-left: 28px;
}

.header__btn:hover {
  text-decoration: underline;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		z-index: 5;
		@media (any-hover: none) {
			cursor: default;
		}
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.footer {
  background: #1E212C;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 79px;
  padding-top: 80px;
  padding-bottom: 60px;
}

.text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 279px;
          flex: 0 1 279px;
}

.text-footer__img {
  margin-bottom: 1.5rem;
  max-width: 100%;
}

.text-footer__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #FFFFFF;
  opacity: 0.6;
  margin-bottom: 2.375rem;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.socials__facebook {
  background: url("../img/icon/Facebook.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  z-index: 10;
}

.socials__facebook:hover {
  opacity: 1;
}

.socials__twitter {
  background: url("../img/icon/Twitter.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  z-index: 10;
}

.socials__twitter:hover {
  opacity: 1;
}

.socials__youtube {
  background: url("../img/icon/YouTube.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  z-index: 10;
}

.socials__youtube:hover {
  opacity: 1;
}

.socials__telegram {
  background: url("../img/icon/telegram.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  z-index: 10;
}

.socials__telegram:hover {
  opacity: 1;
}

.socials__instagram {
  background: url("../img/icon/Instagram.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  z-index: 10;
}

.socials__instagram:hover {
  opacity: 1;
}

.socials__in {
  background: url("../img/icon/Linked-In.svg") 0 0 no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0.6;
  z-index: 10;
}

.socials__in:hover {
  opacity: 1;
}

.map-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.map-footer__title {
  font-weight: 700;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.map-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.map-footer__item {
  line-height: 160%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.6;
}

.map-footer__item:hover {
  text-decoration: underline;
}

.courses-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.courses-footer__title {
  font-weight: 700;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.courses-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.courses-footer__item {
  line-height: 160%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.6;
}

.courses-footer__item:hover {
  text-decoration: underline;
}

.contact-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 157px;
          flex: 0 1 157px;
}

.contact-footer__title {
  font-weight: 700;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 12px;
}

.contact-footer__number {
  background: url("../img/icon/iPhone.svg") 0 5px no-repeat;
  opacity: 0.6;
  z-index: 10;
  line-height: 160%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding-left: 24px;
  padding-bottom: 8px;
}

.contact-footer__email {
  background: url("../img/icon/Mail_footer.svg") 0 5px no-repeat;
  padding-left: 24px;
  line-height: 160%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.6;
  z-index: 10;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 286px;
          flex: 0 1 286px;
}

.form-footer__title {
  font-weight: 700;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-bottom: 24px;
}

.form-footer__form {
  position: relative;
  padding-bottom: 12px;
}

.form-footer__form-input {
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  width: 100%;
  min-height: 36px;
}

.form-footer__form-button {
  position: absolute;
  right: 12px;
  top: 10px;
  width: 16px;
  height: 16px;
  opacity: 0.6;
}

.form-footer__form-button:hover {
  opacity: 1;
}

.form-footer__text {
  font-size: 10px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.copyright {
  background: #1E212C;
  opacity: 0.9;
}

.copyright__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.copyright__text {
  font-size: 12px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding: 20px 0px;
}

.copyright__text span {
  background: url("../img/icon/Heart.svg") 0 0 no-repeat;
  padding-left: 18px;
}

.copyright__top {
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  opacity: 0.6;
  padding: 20px 0px;
}

.main {
  background: -o-linear-gradient(34.05deg, hwb(2 23% 0%/0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  background: linear-gradient(55.95deg, hwb(2 23% 0%/0.2) 0%, hsla(22deg, 96%, 49%, 0.2) 100%);
  position: relative;
  margin-bottom: 11.25rem;
}

.main__container {
  padding-top: 108px;
  padding-bottom: 80px;
}

.main__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11.8125rem;
}

.main__features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__decor-one {
  background: url("../img/decor/shapes.svg") 0 0 no-repeat;
  width: 96px;
  height: 96px;
  position: absolute;
  left: 4.2%;
  top: 12%;
  z-index: 1;
}

.main__decor-two {
  background: url("../img/decor/shapes_one.svg") 0 0 no-repeat;
  width: 110px;
  height: 110px;
  position: absolute;
  top: -4.25%;
  right: 5%;
  z-index: 1;
}

.main__decor-three {
  background: url("../img/decor/shapes_two.svg") 0 0 no-repeat;
  width: 88px;
  height: 47px;
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 1;
}

.main__decor-fore {
  background: url("../img/decor/circles.svg") 0 0 no-repeat;
  width: 284px;
  height: 284px;
  position: absolute;
  bottom: -5%;
  left: -10%;
  z-index: 1;
}

.main__decor-five {
  background: url("../img/decor/vector.svg") 0 0 no-repeat;
  width: 61px;
  height: 61px;
  position: absolute;
  top: 70%;
  left: 38%;
  z-index: 1;
}

.main__decor-six {
  background: url("../img/decor/dots.svg") 0 0 no-repeat;
  width: 187px;
  height: 137px;
  position: absolute;
  top: 69%;
  left: 91%;
  z-index: 1;
}

.text__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  z-index: 10;
}

.text__play {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1E212C;
  gap: 16px;
  margin-bottom: 24px;
  z-index: 10;
}

.text__play:hover {
  text-decoration: underline;
}

.text__play::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: hwb(2 23% 0%/0.12);
  width: 52px;
  height: 52px;
  border-radius: 50%;
  -webkit-transform: scale(1.6);
      -ms-transform: scale(1.6);
          transform: scale(1.6);
  z-index: 10;
}

.text__play::before {
  content: "";
  background: url("../img/icon/Polygon.svg") center no-repeat;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 52px;
          flex: 0 0 52px;
  width: 52px;
  height: 52px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: 10;
}

.text__title {
  font-weight: 900;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 1px;
  color: #1E212C;
  margin-bottom: 3.75rem;
  z-index: 10;
}

.text__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  z-index: 10;
}

.text__btn {
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FF3F3A;
  padding: 0px 40px;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
  z-index: 10;
}

.text__btn:hover {
  background: -o-linear-gradient(34.05deg, #ec3c36 0%, #ee5a05 100%);
  background: linear-gradient(55.95deg, #ec3c36 0%, #ee5a05 100%);
  color: #FFFFFF;
  z-index: 10;
}

.text__button {
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 0px 40px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  z-index: 10;
}

.text__button:hover {
  background: -o-linear-gradient(34.05deg, #e73c36 0%, #e25605 100%);
  background: linear-gradient(55.95deg, #e73c36 0%, #e25605 100%);
  z-index: 10;
}

.text__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 602px;
          flex: 0 1 602px;
  z-index: 10;
}

.text__img img {
  max-width: 100%;
}

.features__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__point {
  width: 8px;
  height: 8px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: 10;
}

.item-features__numbers {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #1E212C;
  z-index: 10;
}

.item-features__text {
  line-height: 160%;
  color: #1E212C;
  z-index: 10;
}

.section {
  margin-bottom: 11.25rem;
  position: relative;
}

.section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 135px;
  border-radius: 4px;
}

.section__img {
  z-index: 10;
}

.section__img img {
  max-width: 100%;
}

.section__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 0.5rem;
  z-index: 10;
}

.section__title {
  font-weight: 900;
  line-height: 130%;
  color: #1E212C;
  margin-bottom: 2.5rem;
  z-index: 10;
}

.section__list {
  margin-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  z-index: 10;
}

.section__item {
  line-height: 160%;
  padding-left: 32px;
  font-weight: 400;
  z-index: 10;
}

.section__list li {
  padding-right: 16px;
  background: url("../img/icon/check.svg") 0 5px no-repeat;
  display: inline-block;
  z-index: 10;
}

.section__button {
  font-weight: 700;
  font-size: 14px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  padding: 13px 40px;
  background: -o-linear-gradient(34.05deg, #FF3F3A 0%, #F75E05 100%);
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  border-radius: 4px;
  z-index: 10;
}

.section__button:hover {
  background: -o-linear-gradient(34.05deg, #e73c36 0%, #e25605 100%);
  background: linear-gradient(55.95deg, #e73c36 0%, #e25605 100%);
  z-index: 10;
}

.section__decor-one {
  background: url("../img/decor/dots_one.svg") 0 0 no-repeat;
  width: 132px;
  height: 181px;
  position: absolute;
  top: 10%;
  left: 0%;
}

.section__decor-two {
  background: url("../img/decor/circles_one.svg") 0 0 no-repeat;
  width: 287px;
  height: 287px;
  position: absolute;
  top: 45%;
  left: 93%;
}

.courses__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 3.75rem;
}

.courses__caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.courses__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1E212C;
  margin-bottom: 0.5rem;
}

.courses__title {
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: #1E212C;
}

.courses__button {
  padding-top: 35px;
}

.courses__button a {
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.5px;
  color: #FF3F3A;
  padding: 20px 40px;
  border: 1px solid #FF3F3A;
  border-radius: 4px;
}

.courses__button a:hover {
  background: -o-linear-gradient(34.05deg, #ec3c36 0%, #ee5a05 100%);
  background: linear-gradient(55.95deg, #ec3c36 0%, #ee5a05 100%);
  color: #FFFFFF;
}

.section-courses {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 180px;
}

.marketing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.marketing__img img {
  max-width: 100%;
}

.marketing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
}

.marketing__branch a {
  background: #03CEA4;
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px;
}

.marketing__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.marketing__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}

.marketing__price span {
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
  padding-left: 8px;
}

.marketing__price span::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.management {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.management__img img {
  max-width: 100%;
}

.management__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
}

.management__branch a {
  background: #5A87FC;
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px;
}

.management__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.management__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}

.management__price span {
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
  padding-left: 8px;
}

.management__price span::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.recruting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.recruting__img img {
  max-width: 100%;
}

.recruting__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
}

.recruting__branch a {
  background: #F89828;
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px;
}

.recruting__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.recruting__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}

.recruting__price span {
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
  padding-left: 8px;
}

.recruting__price span::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.marketing-girl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.marketing-girl__img img {
  max-width: 100%;
}

.marketing-girl__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
}

.marketing-girl__branch a {
  background: #03CEA4;
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px;
}

.marketing-girl__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.marketing-girl__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}

.marketing-girl__price span {
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
  padding-left: 8px;
}

.marketing-girl__price span::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.management-girl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.management-girl__img img {
  max-width: 100%;
}

.management-girl__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
}

.management-girl__branch a {
  background: #5A87FC;
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px;
}

.management-girl__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.management-girl__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}

.management-girl__price span {
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
  padding-left: 8px;
}

.management-girl__price span::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 600px;
          flex: 0 1 600px;
  background: #FFFFFF;
  border: 1px solid #E5E8ED;
  -webkit-box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
          box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
  border-radius: 4px;
}

.design__img img {
  max-width: 100%;
}

.design__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  padding: 32px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 386px;
          flex: 0 1 386px;
}

.design__branch a {
  background: #F52F6E;
  border-radius: 4px;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  padding: 1px 8px;
}

.design__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #1E212C;
}

.design__price {
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: #FF4242;
}

.design__price span {
  font-size: 18px;
  line-height: 150%;
  color: #787A80;
  padding-left: 8px;
}

.design__price span::before {
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 0px;
  border: 1px solid #787A80;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

@media (min-width: 78.75em) {
  .text__title {
    font-size: 4rem;
  }

  .section__title {
    font-size: 2.875rem;
  }
}

@media (max-width: 20em) {
  .text__title {
    font-size: 1rem;
  }

  .section__title {
    font-size: 1rem;
  }
}

@media (max-width: 78.75em) {
  .section-courses {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 62.5em) {
  .section__container {
    gap: 35px;
  }
}

@media (max-width: 60.625em) {
  .text__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .text__title {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 56.25em) {
  .main {
    margin-bottom: 3.75rem;
  }

  .main__container {
    padding-top: 20px;
  }

  .main__text {
    margin-bottom: 1.25rem;
  }

  .features__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section {
    margin-bottom: 3.75rem;
  }

  .section__title {
    margin-bottom: 1.25rem;
  }

  .section__list {
    margin-bottom: 20px;
    gap: 10px;
  }
}

@media (max-width: 52.1875em) {
  .header__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .header__list {
    gap: 15px;
  }

  .header__logo {
    margin-right: 20px;
  }
}

@media (max-width: 43.75em) {
  .main {
    margin-bottom: 1.25rem;
  }

  .main__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
  }

  .main__features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__container {
    padding-bottom: 20px;
  }

  .text__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .section__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 40.625em) {
  .footer__container {
    gap: 30px;
  }
}

@media (max-width: 38.75em) {
  .courses__text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 37.5em) {
  .section-courses {
    padding-bottom: 30px;
  }

  .marketing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .marketing__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .management {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .management__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .recruting {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .recruting__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .marketing-girl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .marketing-girl__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .management-girl {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .management-girl__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .design__text {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 35.9375em) {
  .header__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 20em) and (max-width: 78.75em) {
@supports (font-size: clamp( 1rem , -0.0212765957rem  +  5.1063829787vw , 4rem )) {
    .text__title {
      font-size: clamp( 1rem , -0.0212765957rem  +  5.1063829787vw , 4rem );
    }
}

@supports not (font-size: clamp( 1rem , -0.0212765957rem  +  5.1063829787vw , 4rem )) {
    .text__title {
      font-size: calc(1rem + 3 * (100vw - 20rem) / 58.75);
    }
}

@supports (font-size: clamp( 1rem , 0.3617021277rem  +  3.1914893617vw , 2.875rem )) {
    .section__title {
      font-size: clamp( 1rem , 0.3617021277rem  +  3.1914893617vw , 2.875rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.3617021277rem  +  3.1914893617vw , 2.875rem )) {
    .section__title {
      font-size: calc(1rem + 1.875 * (100vw - 20rem) / 58.75);
    }
}
}